@media all and (max-width: 1150px){
   
    header{
        nav{
            width: 30%;
            height: 100%;
        }
        ul{
            flex-direction: column;
        }
        a{
            text-align: left;
            padding-left: 1em;
        }
    }
    #row-one{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 65vh 65vh;
    }
    #row-two{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 35vh 35vh;
    }
    .icons{
        img{
            width: auto;
            height: 6.5em;
        }
    }
    .png{
        align-items: center;
        justify-content: center;
        img{
            margin: 0;
        }
    }
}
@media all and (max-width: 768px)
{
    .wrapper{
        width: 100%;
    }
    #row-one{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 65vh);
    }
    #row-two{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 35vh);
    }
    nav{
        display: none;
    }
    #burger{
        display: block;
    }
}